/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
    text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    cursor: pointer;
}
/* scroll bar START */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #c33764, #1d2671); 
    border-radius: 12px;
}
/* scroll bar END */
/*--font START--*/
@font-face {
    font-family: Manrope;
    src: url(fonts/Manrope/Manrope-VariableFont_wght.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
/*--font END--*/
body {
    background-color: #0D0D10;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
/* header START */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 100%;
    height: 94px;
    display: flex;
    align-items: center;
}
header .container .logo {
    display: flex;
    align-items: center;
    gap: 13.32px;
    margin-left: 12.5%;
}
header .container > nav {
    display: flex;
    margin-left: 3.663%;
    gap: 40px;
}
header .container > nav > a {
color: #676780;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.48px;
text-decoration: none;
position: relative;
}
header .container > nav .activenav {
color: #FFF;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.48px;
text-decoration: underline;
text-underline-offset: 40px;
text-decoration-color: #FFF;
}
header .log {
    display: flex;
    margin-left: 27.8125%;
    gap: 32px;
    align-items: center;
}
header .container .log a:nth-child(1) {
color: #FFF;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.48px;
text-decoration: none;
}
header .container .log a:nth-child(2) {
display: inline-flex;
padding: 12px 24px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: rgba(98, 230, 190, 0.10);
color: #62E6BE;
text-shadow: 0px 4px 8px rgba(63, 57, 129, 0.40);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.48px;
}
.line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.10);
}
header div .menu img {
    display: none;
}
/* header END */
/* ellipses START */
.ellipse {
    position: absolute;
    width: 491px;
    height: 491px;
    flex-shrink: 0;
    border-radius: 491px;
    background: rgba(109, 98, 230, 0.70);
    filter: blur(395px);
}
.el1 {
    margin-top: 10px;
    margin-left: -17.604%;
}
.el2 {
    margin-top: 81px;
    margin-left: 88.9%;
}
.el3 {
    margin-top: 1534px;
    margin-left: -17.604%;
}
.el4 {
    margin-top: 1215px;
    margin-left: 90.46%;
}
.el5 {
    margin-top: 2822px;
    margin-left: 90.364%;
}
.el6 {
    margin-top: 3265px;
    margin-left: -14.792%;
}
.el7 {
    margin-top: 4222px;
    margin-left: 90.885%;
}
/* ellipses END */
/* stars START */
.star-m {
    display: none;
}
.star {
    position: absolute;
    background-color: #6D62E6;
    filter: blur(3px);
    flex-shrink: 0;
}
.star1 {
    margin-top: 152px;
    margin-left: 11.61%;
    width: 8px;
    height: 8px;
    transform: rotate(-99.06deg);

}
.star2 {
margin-top: 160px;
margin-left: 22.76%;
width: 5.947px;
height: 5.947px;
transform: rotate(-30.08deg);
}
.star3 {
margin-top: 623px;
margin-left: 42.86%;
width: 8px;
height: 8px;
transform: rotate(-131.041deg);
}
.star4 {
margin-top: 268px;
margin-left: 3.12%;
width: 4px;
height: 4px;
transform: rotate(-99.06deg);
}
.star5 {
margin-top: 174px;
margin-left: 3.54%;
width: 4px;
height: 4px;
transform: rotate(-99.06deg);
}
.star6 {
margin-top: 435px;
margin-left: 4.31%;
width: 4px;
height: 4px;
transform: rotate(-99.06deg);
}
.star7 {
margin-top: 286px;
margin-left: 55.26%;
width: 8px;
height: 8px;
transform: rotate(-131.041deg);
}
.star8 {
margin-top: 130px;
margin-left: 32.34%;
width: 2.973px;
height: 2.973px;
transform: rotate(-30.08deg);
}
.star9 {
margin-top: 196px;
margin-left: 30.47%;
width: 2.973px;
height: 2.973px;
transform: rotate(-30.08deg);
}
.star10 {
margin-top: 196px;
margin-left: 30.47%;
width: 2.973px;
height: 2.973px;
transform: rotate(-30.08deg);
}
.star11 {
    margin-top: 200px;
    margin-left: 38.02%;
    width: 2.973px;
    height: 2.973px;
    transform: rotate(-30.08deg);
}
.star12 {
    margin-top: 146px;
    margin-left: 44.17%;
    width: 2.973px;
    height: 2.973px;
    transform: rotate(-30.08deg);
}
.star13 {
margin-top: 520px;
margin-left: 44.17%;
width: 4px;
height: 4px;
transform: rotate(-131.041deg);
}
.star14 {
    margin-top: 157px;
    margin-left: 54.74%;
    width: 8px;
    height: 8px;
    transform: rotate(-131.041deg);
}
.star15 {
    margin-top: 286px;
    margin-left: 55.26%;
    width: 8px;
    height: 8px;
    transform: rotate(-131.041deg);
}
.star16 {
    margin-top: 646px;
    margin-left: 54.49%;
    width: 8px;
    height: 8px;
    transform: rotate(-131.041deg);
}
.star17 {
    margin-top: 362px;
    margin-left: 50%;
    width: 4px;
    height: 4px;
    transform: rotate(-131.041deg);
}
.star18 {
    margin-top: 440px;
    margin-left: 52.76%;
    width: 4px;
    height: 4px;
    transform: rotate(-131.041deg);
}
.star19 {
    margin-top: 556px;
    margin-left: 54.15%;
    width: 4px;
    height: 4px;
    transform: rotate(-131.041deg);
}
.star20 {
    margin-top: 523px;
    margin-left: 55.83%;
    width: 4px;
    height: 4px;
    transform: rotate(-131.041deg);
}
.star21 {
    margin-top: 239px;
    margin-left: 64.95%;
    width: 8px;
    height: 8px;
    transform: rotate(-131.041deg);
}
.star22 {
    margin-top: 637px;
    margin-left: 76.67%;
    width: 4px;
    height: 4px;
    transform: rotate(-26.107deg);
}
.star23 {
    margin-top: 273px;
    margin-left: 77.40%;
    width: 4px;
    height: 4px;
    transform: rotate(-26.107deg);
}
.star24 {
    margin-top: 375px;
    margin-left: 80.68%;
    width: 4px;
    height: 4px;
    transform: rotate(-26.107deg);
}
.star25 {
    margin-top: 479px;
    margin-left: 82.97%;
    width: 8px;
    height: 8px;
    transform: rotate(-26.107deg);
}
.star26 {
    margin-top: 292px;
    margin-left: 85.16%;
    width: 8px;
    height: 8px;
    transform: rotate(-26.107deg);
}
.star27 {
    margin-top: 398px;
    margin-left: 87.92%;
    width: 4px;
    height: 4px;
    transform: rotate(-26.107deg);
}
.star28 {
    margin-top: 562px;
    margin-left: 87.76%;
    width: 4px;
    height: 4px;
    transform: rotate(-26.107deg);
}
.star29 {
    margin-top: 333px;
    margin-left: 93.18%;
    width: 8px;
    height: 8px;
    transform: rotate(-26.107deg);
}
.star30 {
    margin-top: 146px;
    margin-left: 95.36%;
    width: 8px;
    height: 8px;
    transform: rotate(-26.107deg);
}
.star31 {
    margin-top: 416px;
    margin-left: 97.97%;
    width: 4px;
    height: 4px;
    transform: rotate(-26.107deg);
}
.star32 {
    margin-top: 252px;
    margin-left: 98.13%;
    width: 4px;
    height: 4px;
    transform: rotate(-26.107deg);
}
.star33 {
    margin-top: 1255px;
    margin-left: 8.333%;
    width: 4px;
    height: 4px;
}
.star34 {
    margin-top: 1342px;
    margin-left: 13.958%;
    width: 4px;
    height: 4px;
}
.star35 {
    margin-top: 1369px;
    margin-left: 6.666%;
    width: 4px;
    height: 4px;
}
.star36 {
    margin-top: 1459px;
    margin-left: 5.156%;
    width: 8px;
    height: 8px;
}
.star37 {
    margin-top: 1669px;
    margin-left: 10.468%;
    width: 8px;
    height: 8px;
}
.star38 {
    margin-top: 1534px;
    margin-left: 96.145%;
    width: 8px;
    height: 8px;
}
.star39 {
    margin-top: 1695px;
    margin-left: 96.718%;
    width: 4px;
    height: 4px;
}
.star40 {
    margin-top: 1762px;
    margin-left: 90.468%;
    width: 4px;
    height: 4px;
}
.star41 {
    margin-top: 1881px;
    margin-left: 95.937%;
    width: 4px;
    height: 4px;
}
.star42 {
    margin-top: 2695px;
    margin-left: 92.552%;
    width: 4px;
    height: 4px;
}
.star43 {
    margin-top: 2782px;
    margin-left: 98.177%;
    width: 4px;
    height: 4px;
}
.star44 {
    margin-top: 2809px;
    margin-left: 90.885%;
    width: 4px;
    height: 4px;
}
.star45 {
    margin-top: 2899px;
    margin-left: 89.375%;
    width: 8px;
    height: 8px;
}
.star46 {
    margin-top: 3109px;
    margin-left: 94.687%;
    width: 8px;
    height: 8px;
}
.star47 {
    margin-top: 3191px;
    margin-left: 5.677%;
    width: 8px;
    height: 8px;
}
.star48 {
    margin-top: 3352px;
    margin-left: 6.25%;
    width: 4px;
    height: 4px;
}
.star49 {
    margin-top: 3419px;
    margin-left: 0.208%;
    width: 4px;
    height: 4px;
}
.star50 {
    margin-top: 3538px;
    margin-left: 5.468%;
    width: 4px;
    height: 4px;
}
.star51 {
    margin-top: 4169.86px;
    margin-left: 11.408%;
    width: 4px;
    height: 4px;
}
.star52 {
    margin-top: 4215.52px;
    margin-left: 4.587%;
    width: 4px;
    height: 4px;
}
.star53 {
    margin-top: 4302.96px;
    margin-left: 8.745%;
    width: 4px;
    height: 4px;
}
.star54 {
    margin-top: 4371.77px;
    margin-left: 11.925%;
    width: 8px;
    height: 8px;
}
.star55 {
    margin-top: 4396.25px;
    margin-left: 24.018%;
    width: 8px;
    height: 8px;
}
.star56 {
    margin-top: 4243.65px;
    margin-left: 84.791%;
    width: 8px;
    height: 8px;
}
.star57 {
    margin-top: 4238.47px;
    margin-left: 93.62%;
    width: 4px;
    height: 4px;
}
.star58 {
    margin-top: 4356.76px;
    margin-left: 93.898%;
    width: 4px;
    height: 4px;
}
.star59 {
    margin-top: 4450.06px;
    margin-left: 93.932%;
    width: 8px;
    height: 8px;
}
/* stars END */
/* main START */
/* page 1 START */
main {
    display: flex;
    flex-direction: column;
}
main .page1 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 261px;
}
main .page1 .p1 {
    display: flex;
    flex-direction: column;
    width: 612px;
}
h1 {
    width: 612px;
}
h1 {
font-family: Raleway;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 99.6%;
letter-spacing: -3.2px;
background: var(--Style, linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
h1 span {
font-family: Raleway;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 99.6%;
letter-spacing: -3.2px;
background: var(--62-e-6-be, #62E6BE);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
main div:nth-child(1) div:nth-child(1) p {
width: 478px;
color: rgba(197, 197, 220, 0.50);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%;
margin-top: 30px;
}
.but {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}
.but button {
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
text-shadow: 0px 4px 8px rgba(63, 57, 129, 0.40);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.54px;
}
.but button:nth-child(1) {
background: var(--62-e-6-be, #62E6BE);
color: #100F15;
border: none;
}
.but button:nth-child(2) {
border: 2px solid rgba(109, 98, 230, 0.20);
color: #FFF;
background-color: rgba(0, 0, 0, 0);
}
.p2 {
    display: flex;
    flex-direction: column;
    gap: 51px;
}
.shadow {
width: 332px;
height: 59px;
flex-shrink: 0;
border-radius: 332px;
background: radial-gradient(50% 50% at 50% 50%, rgba(109, 98, 230, 0.24) 0%, rgba(109, 98, 230, 0.00) 100%);
}
.panel {
    display: flex;
    width: 100%;
    height: 260px;
    flex-shrink: 0;
    background: rgba(109, 98, 230, 0.05);
    margin-top: 93px;
    justify-content: center;
    align-items: center;
}
.pan {
    display: flex;
    gap: 24px;
}
.menu {
    height: 100%;
    cursor: pointer;
}
.imgmen {
    display: flex;
    width: 220px;
    height: 151px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid rgba(109, 98, 230, 0.20);
    justify-content: center;
    align-items: center;
}
h4 {
text-align: center;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%);
background: var(--Style, linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 16px;
}
.menu:hover .imgmen {
background: rgba(109, 98, 230, 0.10);
}
.menu:hover h4 {
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--6-d-62-e-6, #6D62E6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.addition {
    display: none;
}
/* page 1 END */
/* page 2 START */
.page2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    z-index: 100;
}
.p2-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p2-1 button {
display: inline-flex;
padding: 8px 16px;
align-items: center;
gap: 10px;
border-radius: 8px;
background: rgba(98, 230, 190, 0.10);
color: #62E6BE;
text-align: center;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 171.429%;
border: none;
}
.p2-1 h3 {
text-align: center;
font-family: Raleway;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 99.6%;
letter-spacing: -1.76px;
background: linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 24px;
}
main div:nth-child(3) div p {
    width: 478px;
    color: rgba(197, 197, 220, 0.50);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 32px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 52px;
}
.services {
width: 334px;
height: 353px;
flex-shrink: 0;
border: 1px solid rgba(255, 255, 255, 0.10);
padding: 16px;
box-sizing: border-box;
display: flex;
flex-direction: column;
}
.services img:nth-child(1) {
width: 302px;
height: 176px;
flex-shrink: 0;
}
.services img:nth-child(2) {
width: 118px;
height: 18px;
flex-shrink: 0;
margin-top: 16px;
}
main div:nth-child(3) div:nth-child(2) p {
width: 302px;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: left;
background: var(--Style, linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 16px;
}
main div:nth-child(3) div:nth-child(2) h5 {
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
background: var(--Style, linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 16px;
}
.p2b {
margin-top: 40px;
margin-bottom: 120px;
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
border: 2px solid rgba(109, 98, 230, 0.20);
background-color: rgba(0, 0, 0, 0);
color: #FFF;
text-shadow: 0px 4px 8px rgba(63, 57, 129, 0.40);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.54px;
cursor: pointer;
}
.panel1 {
    margin: 0;
    border-radius: 8px;
    gap: 90px;
}
.amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.amount h5 {
text-align: center;
font-family: Raleway;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 99.6%;
letter-spacing: -1.76px;
background: linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin: 0;
}
main div:nth-child(4) div p {
color: rgba(197, 197, 220, 0.50);
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 133.333%;
margin: 0;
width: 100%;
}
.board {
    width: 1px;
    height: 100px;
    background: linear-gradient(360deg, rgba(143, 140, 188, 0.00) -0.5%, rgba(143, 140, 188, 0.53) 52.36%, rgba(143, 140, 188, 0.00) 101%);
}
/* page 2 END */
/* page 3 START */
.page3 {
    display: flex;
    margin-top: 138px;
    margin-left: 12.5%;
}
.p3-1 button {
    display: inline-flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(98, 230, 190, 0.10);
    color: var(--62-e-6-be, #62E6BE);
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%;
    border: none;
}
.p3-1 h2 {
    width: 525px;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.6%;
    letter-spacing: -1.76px;
    background: linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 24px;
}
.grid2 {
    margin-top: 64px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px
}
.crypto {
    width: 464px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(109, 98, 230, 0.20);
    padding: 40px 52px;
    box-sizing: border-box;
}
.crypto h4 {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.6%;
    letter-spacing: -0.96px;
    background: linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}
main div:nth-child(5) .p3-1 .grid2 .crypto p {
    width: 360px;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.286%;
    text-align: left;
    margin-top: 16px;
    background: var(--Style, rgba(197, 197, 220, 0.50));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.panel3 {
    width: 100%;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid3 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 117px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.grid3 img {
    width: 139px;
    height: 42px;
    flex-shrink: 0;
    opacity: 0.2;
}
.line-hor {
    width: 75%;
    height: 1px;
    background: linear-gradient(270deg, rgba(109, 98, 230, 0.00) 0%, rgba(109, 98, 230, 0.51) 50%, rgba(109, 98, 230, 0.00) 100%);
}
.page4 {
    display: flex;
    margin-top: 104px;
    gap:146px;
}
.side1 {
    border-left: 1px solid;
    border-color:  #6D62E6;
    height: fit-content;
    padding-left: 71px;
    box-sizing: border-box;
    margin-left: 17.03%;
}
.side1 button {
    display: inline-flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(98, 230, 190, 0.10);
    color: var(--62-e-6-be, #62E6BE);
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%;
    border: none;
}
.side1 h2 {
    width: 342px;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.6%; /* 43.824px */
    letter-spacing: -1.76px;
    background: var(--Linear, linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 24px;
}
main div:nth-child(8) div:nth-child(1) p {
    width: 464px;
    color: rgba(197, 197, 220, 0.50);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.side2 {
    display: grid;
    grid-template-columns: auto;
    gap: 74px;
}
.pers1 {
    display: flex;
    gap: 36px;
    justify-content: left;
    align-items: center;
}
.pers1 img {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 72px;
}
.name {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.name h3 {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.6%;
    letter-spacing: -0.96px;
    background: linear-gradient(180deg, #E4E2F4 0%, #BABAD3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    text-align: left;
}
.name h4 {
    color: rgba(202, 201, 224, 0.50);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    text-align: left;
}
main div:nth-child(8) div:nth-child(2) div p {
    width: 586px;
    color: rgba(197, 197, 220, 0.50);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 161.111%;
    text-align: left;
    margin-top: 36px;
}
.linedn {
    display: none;
}
/* page 3 END */
/* main END */
/* footer START */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
    align-items: center;
    margin-top: 125px;
}
.icons {
    width: 74.896%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flogo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
}
.flogo .web {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
.flogo .mob {
    display: none;
}
.flogo h3 span {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.flogo h3 {
    color: #FFF;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.social {
    display: flex;
    gap: 32px;
    justify-content: right;
}
.line2 {
    width: 74.896%;
    height: 1px;
    background: rgba(255, 255, 255, 0.10);
    margin-top: 36px;
}
.flink {
    width: 74.896%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.fs1 {
    display: flex;
    gap: 24px;
}
footer div:nth-child(3) div a {
    color: rgba(197, 197, 220, 0.50);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 161.111%;
}
footer div:nth-child(3) h5 {
    color: rgba(197, 197, 220, 0.50);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 161.111%;
}
/* footer END */

/* media screen START */
@media screen and (max-width: 800px) {
     /* ellipse */
     .ellipse {
        display: none;
    }
    .el-m1 {
        display: inline-flex;
        width: 309px;
        height: 309px;
        flex-shrink: 0;
        border-radius: 309px;
        background: rgba(109, 98, 230, 0.10);
        filter: blur(100px);
        margin-top: -125px;
        margin-left: 31.733%;
        position: absolute;
        z-index: 1;
    }
    /* stars START */
    .star-m {
        display: inline-flex;
        position: absolute;
        fill: #6D62E6;
        filter: blur(3px);
        transform: rotate(-49.817deg);
        flex-shrink: 0;
        z-index: 100;
    }
    .star-m1 {
        width: 2.722px;
        height: 2.722px;
        margin-top: 59.22px;
        margin-left: 56.266%;
    }
    .star-m2 {
        width: 2.722px;
        height: 2.722px;
        margin-top: -44.48px;
        margin-left: 81.037%;
    }
    .star-m3 {
        width: 5.443px;
        height: 5.443px;
        margin-top: 110.99px;
        margin-left: 71.293%;
    }
    .star-m4 {
        width: 2.722px;
        height: 2.722px;
        margin-top: 58.51px;
        margin-left: 92.504%;
    }
    /* stars END */
    header {
        padding: 24px;
        box-sizing: border-box;
    }
    header .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    header .container .logo {
        margin: 0;
        gap: 9.99px;
    }
    .logo img:nth-child(1) {
        width: 24px;
        height: 24px;
    }
    .logo img:nth-child(2) {
        width: 61.012px;
        height: 13.23px;
    }
    .line {
        display: none;
    } 
    header .container nav {
        display: none;
    }
    header .container .log {
        display: none;
    }
    header .container .menu img {
        display: inline;
    }
    main .page1 {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "p2"
        "addition"
        "p1";
        flex-direction: column;
        gap: 0;
        margin-top: 20px;
        justify-content: left;
        padding: 0 24px;
        box-sizing: border-box;
        align-content: center;
        height: fit-content;
    }
    main .page1 .p1 {
        width: 100%;
        grid-area: p1;
        display: flex;
        justify-content: left;
        align-items: left;
    }
    main .page1 div:nth-child(1) h1 {
        width: 327px;
        font-family: Raleway;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 99.6%;
        letter-spacing: -1.28px;
        text-transform: lowercase;
    }
    main .page1 div:nth-child(1) h1 span {
        font-size: 32px;
    }
    main div:nth-child(1) div:nth-child(1) p {
        width: 327px;
        color: rgba(197, 197, 220, 0.50);
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    main .page1 .p2 {
        grid-area: p2;
        width: 100%;
        display: flex;
        align-items: center;
    }
    main .page1 .p2 img {
        width: 223px;
        height: 152.518px;
        flex-shrink: 0;
    }
    .shadow {
        width: 191.803px;
        height: 34.085px;
        flex-shrink: 0;
    }
    .addition {
        grid-area: addition;
        display: inline-flex;
        padding: 8px 16px;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: rgba(126, 126, 181, 0.10);
        width: fit-content;
        margin-top: 32.93px;
        margin-bottom: 16px;
    }
    .addition h5 {
        color: rgba(126, 126, 181, 0.50);
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .addition img {
        width: 49.227px;
        height: 19px;
    }
    .star {
        display: none;
    }
    main .panel {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        height: fit-content;
        gap: 32px 16px;
        padding: 40px 24px 52px 24px;
        box-sizing: border-box;
        margin-top: 80px;
    }
    main .panel .pan {
        display: grid;
        gap: 16px;
        width: 100%;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    main .panel .pan .menu {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    main .panel .pan .menu h4 {
        width: 155px;
        margin: 0;
    }
    main .panel .pan .imgmen {
        width: 155px;
        height: 151px;
        flex-shrink: 0;
    }
    main .panel .pan .imgmen img {
        width: 64px;
        height: 64px;
    }
    main .page2 {
        margin-top: 52px;

    }
    main .page2 .p2-1 button {
        padding: 4px 12px;
    }
    main .page2 .p2-1 h3 {
        font-size: 24px;
    }
    main div:nth-child(3) .p2-1 p {
        width: 327px;
        font-size: 14px;
    }
    main div:nth-child(3) .grid {
        margin-top: 32px;
        grid-template-columns: auto;
    }
    main div:nth-child(3) .p2b {
        margin-bottom: 0;
    }
    main .panel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .board {
        width: 100px;
        height: 1px;
    }
    .page3 {
        margin-left: 0;
        padding: 0 24px;
        box-sizing: border-box;
        margin-top: 70px;
    }
    main div:nth-child(5) .p3-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
    }
    main div:nth-child(5) .p3-1 button {
        display: inline-flex;
        padding: 4px 12px;
        align-items: center;
        gap: 10px;
    }
    main div:nth-child(5) .p3-1 h2 {
        text-align: center;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 99.6%; 
        letter-spacing: -0.96px;
        width: 225px;
    }
    main div:nth-child(5) .p3-1 .grid2 {
        grid-template-columns: auto;
    }
    main div:nth-child(5) .p3-1 .grid2 .crypto {
        width: 328px;
        padding: 24px;
    }
    main div:nth-child(5) .p3-1 .grid2 .crypto img {
        width: 53px;
        height: 53px;
        flex-shrink: 0;
    }
    main div:nth-child(5) .p3-1 .grid2 .crypto p {
        width: 279px;
    }
    main div:nth-child(6) .grid3 {
        grid-template-columns: auto auto;
        row-gap: 50px;
        column-gap: 53.61px;
        margin-top: 52px;
        margin-bottom: 0;
    }
    .line-hor {
        display: none;
    }
    main div:nth-child(6) .grid3 img {
        width: 105.905px;
        height: 32px;
        flex-shrink: 0;
    }
    .page4 {
        width: 375px;
        gap: 43.2px;
        justify-content: center;
        flex-direction: column;
        margin-top: 52px;
    }
    .page4 .side1 {
        display: flex;
        flex-direction: column;
        width: 375px;
        justify-content: center;
        align-items: center;
        border: none;
        gap: 16px;
        margin-left: 0;
        padding-left: 0;
    }
    .page4 .side1 button {
        padding: 4px 12px;
    }
    .page4 .side1 h2 {
        font-size: 24px;
        letter-spacing: -0.96px;
        text-align: center;
    }
    main div:nth-child(8) div:nth-child(1) p {
        width: 327px;
        font-size: 14px;
        line-height: 171.429%;
        text-align: center;
    }
    .page4 .side2 {
        gap: 43.2px;
        padding: 0 24px;
        box-sizing: border-box;
    }
    main div:nth-child(8) div:nth-child(2) div p {
        width: 327px;
        color: rgba(197, 197, 220, 0.50);
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 171.429%;
        margin-top: 19.2px;
    }
    .linedn {
        display: inline-flex;
        width: 327px;
        height: 1px;
        background: linear-gradient(270deg, rgba(109, 98, 230, 0.00) 0%, rgba(109, 98, 230, 0.51) 50%, rgba(109, 98, 230, 0.00) 100%);
        align-self: center;
        margin-top: 118px;
    }
    footer {
        padding: 24px;
        box-sizing: border-box;  
        margin-top: 25px;
        height: fit-content;
    }
    .icons {
        width: 100%;
    }
    .flogo {
        gap: 9.99px;
    }
    .flogo .web {
        display: none;
    }
    .flogo .mob {
        display: block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
    .flogo h3 {
        font-size: 18px;
    }
    .flogo h3 span {
        font-size: 18px;
    }
    .social {
        gap: 24px;
    }
    .social a {
        cursor: pointer;
    }
    .social a img {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }
    .line2 {
        width: 327px;
        margin-top: 24px;
    }
    footer .flink {
        flex-direction: column;
        align-items: left;
        justify-content: left;
        gap: 24px;
    }
    footer .flink div a {
        font-size: 16px;
        display: flex;
        gap: 24px;
    }
    .flink {
        width: 100%;
        margin-top: 16px;
    }
}
/* media screen END */